target/munitworkingdir-267345102291933/dummyproject/dummyproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b81eeb70-09ef-42b0-b57e-70516f11c986" basePath="/dummyproject" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyprojectFlow" doc:id="cd187413-2a40-499f-ba75-696cc88664e4" >
		<http:listener doc:name="Listener" doc:id="32c155b4-7a16-4a2a-a191-ed7bcdd55d20" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="97fd686a-0a79-4055-85e0-233f96fa5ece" />
	</flow>
</mule>
